# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [6]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()
# YOUR CODE HERE

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,44.71,70,75,31.07,broken clouds
1,1,Nikolskoye,RU,59.7035,30.7861,48.79,90,100,7.27,overcast clouds
2,2,Cap-Aux-Meules,CA,47.3821,-61.8597,46.45,76,0,10.36,clear sky
3,3,Ostrovnoy,RU,68.0531,39.5131,43.61,80,90,21.25,overcast clouds
4,4,Saint-Philippe,RE,-21.3585,55.7679,65.79,78,40,12.75,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [7]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Choose a minimum temperature for the location for your vacation"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Choose a maximum temperature for the location for your vacation"))

Choose a minimum temperature for the location for your vacation70
Choose a maximum temperature for the location for your vacation90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp) ]
                                    
# Display sample data
preferred_cities_df
# YOUR CODE HERE

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Kapaa,US,22.0752,-159.3190,84.18,68,100,10.36,overcast clouds
10,10,Hilo,US,19.7297,-155.0900,83.28,81,100,9.22,overcast clouds
11,11,Bengkulu,ID,-3.8004,102.2655,81.81,70,83,1.23,broken clouds
12,12,Rikitea,PF,-23.1203,-134.9692,71.13,69,5,18.23,clear sky
13,13,Vaini,TO,-21.2000,-175.2000,77.16,83,75,12.66,broken clouds
...,...,...,...,...,...,...,...,...,...,...
660,660,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,76.14,87,55,8.81,broken clouds
662,662,Affery,CI,6.3150,-3.9603,71.38,100,92,1.90,overcast clouds
666,666,Marabba,SD,12.3500,32.1833,75.51,79,98,11.63,overcast clouds
667,667,Biak,ID,-0.9131,122.8766,82.87,72,90,3.27,overcast clouds
669,669,Aswan,EG,24.0934,32.9070,74.05,39,0,13.67,clear sky

In [9]:
preferred_cities_df.count()

Unnamed: 0             283
City                   283
Country                282
Lat                    283
Lng                    283
Max Temp               283
Humidity               283
Cloudiness             283
Wind Speed             283
Current Description    283
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [10]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.count()
# YOUR CODE HERE

Unnamed: 0             282
City                   282
Country                282
Lat                    282
Lng                    282
Max Temp               282
Humidity               282
Cloudiness             282
Wind Speed             282
Current Description    282
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [11]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities.copy()

# Display sample data
hotel_df.head()
# YOUR CODE HERE

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Kapaa,US,22.0752,-159.3190,84.18,68,100,10.36,overcast clouds
10,10,Hilo,US,19.7297,-155.0900,83.28,81,100,9.22,overcast clouds
11,11,Bengkulu,ID,-3.8004,102.2655,81.81,70,83,1.23,broken clouds
12,12,Rikitea,PF,-23.1203,-134.9692,71.13,69,5,18.23,clear sky
13,13,Vaini,TO,-21.2000,-175.2000,77.16,83,75,12.66,broken clouds

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [12]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
# YOUR CODE HERE
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()
# YOUR CODE HERE

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
8,8,Kapaa,US,22.0752,-159.3190,84.18,68,100,10.36,overcast clouds,
10,10,Hilo,US,19.7297,-155.0900,83.28,81,100,9.22,overcast clouds,
11,11,Bengkulu,ID,-3.8004,102.2655,81.81,70,83,1.23,broken clouds,
12,12,Rikitea,PF,-23.1203,-134.9692,71.13,69,5,18.23,clear sky,
13,13,Vaini,TO,-21.2000,-175.2000,77.16,83,75,12.66,broken clouds,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [13]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [14]:
# # 6a. Set parameters to search for a hotel
# params = {
#    "radius": 5000,
#    "type": "lodging",
#    "key": g_key
# }

# # Iterate through the hotel DataFrame 
# for index, row in hotel_df.iterrows():
#     # Fetch latitude and longitude from the DataFrame
#     lat = hotel_df["Lat"]
#     lng = hotel_df["Lng"]
    
#     # Add the latitude and longitude as parameters to the params dictionary
#     params["location"] = f"{lat},{lng}"
    
#     # Set up the base URL for the Google Directions API to get JSON data
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#     # Make an API request and retrieve the JSON data from the hotel search
#     hotels = requests.get(base_url, params = params).json()
    
#     # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
#     try:
#         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#     except (IndexError):
#         print("Hotel not found... skipping.") 
# 9
# 6a. Set parameters to search for a hotel
params = {
   "radius": 5000,
   "type": "lodging",
   "key": g_key
}
# 6b. Iterate through the hotel DataFrame
for index, row in hotel_df.iterrows():
   # get lat, lng from df
   lat = row["Lat"]
   lng = row["Lng"]
   
   # 6c. Get latitude and longitude from DataFrame.
   params["location"] = f"{lat},{lng}"
   
   # 6d. Set up the base URL for the Google Directions API to get JSON data.
   base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   # 6e. Make request and retrieve the JSON data from the search.
   hotels = requests.get(base_url, params=params).json()
   
   # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
   try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
   except (IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# Display sample data
# YOUR CODE HERE
hotel_df.count()

Unnamed: 0             282
City                   282
Country                282
Lat                    282
Lng                    282
Max Temp               282
Humidity               282
Cloudiness             282
Wind Speed             282
Current Description    282
Hotel Name             282
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [16]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
#clean_hotel_df.to_csv("WeatherPy_vacation-backup.csv")
# Display sample data
hotel_df.count()
# YOUR CODE HERE

Unnamed: 0             282
City                   282
Country                282
Lat                    282
Lng                    282
Max Temp               282
Humidity               282
Cloudiness             282
Wind Speed             282
Current Description    282
Hotel Name             282
dtype: int64

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [17]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,Unnamed: 0,Unnamed: 0.1,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,8,8,Kapaa,US,22.0752,-159.3190,84.18,68,100,10.36,overcast clouds,Sheraton Kauai Coconut Beach Resort
1,10,10,Hilo,US,19.7297,-155.0900,83.28,81,100,9.22,overcast clouds,Hilo Hawaiian Hotel
2,11,11,Bengkulu,ID,-3.8004,102.2655,81.81,70,83,1.23,broken clouds,Grage Hotel Bengkulu
3,12,12,Rikitea,PF,-23.1203,-134.9692,71.13,69,5,18.23,clear sky,People ThankYou
4,13,13,Vaini,TO,-21.2000,-175.2000,77.16,83,75,12.66,broken clouds,Keleti Beach Resort
5,17,17,Salalah,OM,17.0151,54.0924,77.09,73,75,5.75,broken clouds,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
6,21,21,Butaritari,KI,3.0707,172.7902,82.26,73,13,15.10,few clouds,Isles Sunset Lodge
7,23,23,Sinnamary,GF,5.3833,-52.9500,79.86,87,89,11.99,overcast clouds,ALETHEIA Appartement Sinnamary
8,28,28,Porto Novo,BJ,6.4965,2.6036,78.62,94,98,2.51,light rain,Tour Eiffel Hotel Benin
9,33,33,Portland,US,45.5234,-122.6762,78.84,54,20,6.91,smoke,Embassy Suites by Hilton Portland Downtown

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [18]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

clean_hotel_df.to_csv(output_data_file)

# Create a CSV file by using the clean_hotel_df DataFrame
# YOUR CODE HERE

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [19]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [20]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ALETHEIA Appartement Sinnamary</dd>\n<dt>City</dt><dd>Sinnamary</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tour Eiffel Hotel Benin</dd>\n<dt>City</dt><dd>Porto Novo</dd>\n<dt>Country</dt><dd>BJ</dd>\n<dt>Current Weather</dt><dd>light rain and 78.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Embassy Suites by Hilton Portland Downtown</dd>\n<dt>City</dt><dd>Portland</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>smoke and 78.84 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [21]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

       Lat       Lng
0  22.0752 -159.3190
1  19.7297 -155.0900
2  -3.8004  102.2655
3 -23.1203 -134.9692
4 -21.2000 -175.2000
5  17.0151   54.0924
6   3.0707  172.7902
7   5.3833  -52.9500
8   6.4965    2.6036
9  45.5234 -122.6762

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [22]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

fig = gmaps.figure()


# Create a figure to add the Google map as a layer

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# YOUR CODE HERE

# Display the figure containing the map
fig

# YOUR CODE HERE

Figure(layout=FigureLayout(height='420px'))